@font-face {
  font-family: Bitter;
  src: url("/fonts/Bitter-VariableFont_wght.ttf");
}

.BigHeading {
  margin-bottom: 20px;
  font-family: Bitter, Georgia, serif;
  font-weight: normal;
  font-size: 48px;
  font-weight: normal;
}

.SmallHeading {
  font-family: Bitter, Georgia, serif;
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
}

.Textblock {
  margin-top: 10px;
  margin-bottom: 24px;
}

.Textblock em {
  font-weight: bold;
  font-style: normal;
}

.Table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.Table tr td {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border: 1px solid #ededed;
  text-align: center;
}

.Table .category {
  font-weight:bolder;
}