@font-face {
  font-family: Bitter;
  src: url("/fonts/Bitter-VariableFont_wght.ttf");
}

.BigHeading {
  margin-bottom: 20px;
  font-family: Bitter, Georgia, serif;
  font-weight: normal;
  font-size: 34px;
  font-weight: normal;
}

.SmallHeading {
  font-family: Bitter, Georgia, serif;
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
}

.VerySmallHeading {
  font-family: Bitter, Georgia, serif;
  font-size: 17px;
  font-weight: bold;
}

.Textblock {
  margin-top: 10px;
  margin-bottom: 24px;
}

.Textblock em {
  font-weight: bold;
  font-style: normal;
}

.Table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.Table tr td {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border: 1px solid #d7d7d7;
  text-align: center;
}

.Table thead,
.Table .category {
  font-weight:bolder;
}

/*
only applies to screens wider than 700px
Possible to override values set above.
Here, special values are set for display on large wide (computer) screens
*/
@media screen and (min-width: 700px) {
  .BigHeading {
    font-size: 48px;
  }
}