.imagecontainer {
    width: 75%;
    margin: auto;
    display: flex;
}

.figureBox {
    flex: 50%;
    padding: 5px;
}

.figure {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 855px) {
    .imagecontainer {
        width: 100%;
    }
}
